{% extends 'backlog_manager/base.html' %}
    {% block title %}

    {% if backlogitem.game %}
        <h2>Add new game</h2>
    {% endif %}

    {% if backlogitem.anime %}
        <h2>Add new anime</h2>
    {% endif %}

    {% if backlogitem.movie_tv %}
        <h2>Add new Movie/TV</h2>
    {% endif %}

    {% if backlogitem.book %}
        <h2>Add new book</h2>
    {% endif %}

    <h2>Add new item</h2>

    {% endblock %}

    {% block content %}
      <form action="" method="POST">
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Add"/>
      </form>
    {% endblock %}