{% extends 'backlog_manager/base.html' %}
    {% block title %}

    {% if backlogitem.game %}
        <h2>Update {{ backlogitem.game }}</h2>
    {% endif %}

    {% if backlogitem.anime %}
        <h2>Update {{ backlogitem.anime }}</h2>
    {% endif %}

    {% if backlogitem.movie_tv %}
        <h2>Update {{ backlogitem.movie_tv }}</h2>
    {% endif %}

    {% if backlogitem.book %}
        <h2>Update {{ backlogitem.book }}</h2>
    {% endif %}

    {% endblock %}

    {% block content %}
      <form action="" method="POST">
        {% csrf_token %}
        {{form.as_ul}}
        <input type="submit" value="Update"/>
      </form>
    {% endblock %}