{% extends "backlog_manager/base.html" %}

    {% block title %}
    <h2>Games list</h2>
    {% endblock %}
        {% block content %}
            <ol>
                {% for game in game_list.all %}

                    <li>
                        <a href="/game-detail/{{ game.id }}">Title: {{ game.title }} Comment: {{ game.comment }} Genres: {% for genre in game.genre.all %} {{ genre.genre }} {% endfor %}</a>
                    </li>

                {% endfor %}
            </ol>
        {% endblock %}