{% extends "backlog_manager/base.html" %}

    {% block title %}
    <h2>Genre list</h2>
    {% endblock %}

        {% block content %}

            <a href="{% url 'genre_create' %}">Add new genre</a>

            <hr class="sidebar-divider">

            <table id="mytable" class="table table-bordred table-striped">
            <col style="width:20%" span="5">
                <tr>
                <th>Genre:</th>
                <th>Update:</th>
                <th>Delete:</th>
                </tr>

                {% for genre in genre_list.all %}

                <tr>

                    <td><a>{{ genre.genre }}</a></td>
                    <td><a href="/genre-update/{{ genre.id }}">
                        <button class="btn btn-primary btn-xs"><span class="fas fa-pen"></span></button></a></td>
                    <td><a href="/genre-delete/{{ genre.id }}">
                        <button class="btn btn-danger btn-xs"><span class="fas fa-minus-square"></span></button></a></td>

                {% endfor %}
                </tr>
            </table>

        {% endblock %}