{% extends "backlog_manager/base.html" %}

    {% block title %}
    <h2>Movie/TV list</h2>
    {% endblock %}
        {% block content %}
            <ol>
                {% for movie_tv in movie_tv_list.all %}

                    <li>
                        <a href="/movie-tv-detail/{{ movie_tv.id }}">Title: {{ movie_tv.title }} Comment: {{ movie_tv.comment }} Genres: {% for genre in movie_tv.genre.all %} {{ genre.genre }} {% endfor %}</a>
                    </li>

                {% endfor %}
            </ol>
        {% endblock %}