{% extends "backlog_manager/base.html" %}

    {% block title %}
    <h2>Main page</h2>

    <a href="{% url 'logout' %}">Logout</a>

    {% endblock %}

        {% block content %}

            <h3>Genres</h3>

                <a href="{% url 'game_genre' %}">Game genres</a>
                <a href="{% url 'genre' %}">Other genres</a>

            <h3>Entries</h3>

                <a href="{% url 'anime' %}">Anime</a>
                <a href="{% url 'book' %}">Books</a>
                <a href="{% url 'game' %}">Games</a>
                <a href="{% url 'movie_tv' %}">Movie/TV</a>

            <h3>My backlogs</h3>

                <a href="{% url 'backlog_create' %}">Add backlog</a>

            <ol>

            {% for backlog in user.backlog_set.all %}

                <li>
                    <a href="/backlog/{{ backlog.id }}">{{ backlog.name }}</a>
                    <a href="/backlog-update/{{ backlog.id }}">Update</a>
                    <a href="/backlog-delete/{{ backlog.id }}">Delete</a>
                </li>

            {% endfor %}

            </ol>

        {% endblock %}